body{
    background: url(../img/bg.jpg)no-repeat center fixed;
    background-size: cover;
}
.border-left{
  border-right: 3px solid;
}

#refresh{
  position: fixed;
    right: 30px;
    bottom: 30px;
    background: #FF9800;
    font-size: 32px;
    border-radius: 56%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
}
#paginate{flex-wrap: wrap;}
#paginate img{
    width: 30px;
    margin: 6px 15px;
}
#paginate li{
    list-style: none;
}
#paginate h2{
    position: relative;
    top: -12px;
    font-size: 30px;
}
ul.list-group.answer li span{float: left;}